$tablet: 768px;
$laptop: 1025px;
$pc: 1660px;

//Colors
$primary: #36bdcb;
$silver: #677577;
$white: #f9fffd;
$secondaryPink: #f6d6fc;
$secondaryBlue: #c7edf1;
$secondaryOrange: #ffd9c9;

// Animation

$duration: 4s;
$ease: cubic-bezier(0.38, 0.11, 0.56, 0.83);
$easeCircle: cubic-bezier(0.38, 0.11, 0.54, 1);

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600;700;800&display=swap");
//Baloo Bhai 2

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
//'Montserrat'
